faucetcosmos.network {
    gzip
    proxy / localhost:8080 {
        transparent
    }
    ratelimit * /faucet 1 1 day
}

faucet.cosmos.network {
    gzip
    proxy / localhost:8080 {
        transparent
    }
    ratelimit * /faucet 1 1 day
}


